<div class="w-9/12 absolute top-3/4">
	<img class="text-logo w-full z-50" src="./logo-billie.webp" alt="logo" draggable="false">
</div>

<style>
    @keyframes CaidaDesdeAbajo {
      0% {
        transform: translateY(1000px);
      }
      100% {
        transform: translateY(0px);
      }
    }

    .text-logo {
      animation: CaidaDesdeAbajo 3.5s ease forwards;
    }
</style>